@media (max-width:500px){
    body{
        font-size: 12px;
    }
    .logo{
        padding: 5px;
    }
    header{
        padding: 2px 2px;
    }
    .footer{
        font-size: 0.8em;
    }
    .social-media a{
        padding: 2px;
    }
    .content{
        flex-direction: column;
    }
    .cards{
        padding-left: 1px;
    }
    .title{
        padding-left: 165px;
    }
    .cards-contact{
        padding-left: 1px;
    }
    .project {
        padding-left: 40px;
    }
    .project .title{
        padding-left: 140px;
    }
}