@media (max-width:1000px) {
    header{
        font-size: 1em;
        padding: 10px 20px;
    }
    .content{
        align-items: center;
        flex-direction: column;
    }
    .main{
        padding-left: 20px;
    }
    .cards h2{
        text-align: center;
    }
}