@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: toona;
    src: url(ToonapersonaluseRegular-vma67.otf);
}
@font-face {
    font-family: montain;
    src: url(fonts/Walkway_Black.ttf);
}
@font-face {
    font-family: caviar;
    src: url(fonts\CaviarDreams.ttf);
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background: linear-gradient(-45deg, #17202a,#2f3e50, #17202a, #17202a);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    background-attachment: fixed;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    border-bottom: 0.1px solid rgb(180, 175, 175);
}
.logo{
    font-family: montain;
    text-decoration: none;
    color: #CD5C5C;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 2px;
}
.nav a{
    text-decoration: none;
    color: #CD5C5C;
    font-size: 1.2em;
    margin-right: 40px;
    font-weight: 600;
    transition: 0.6s ease;
    background-color: transparent;
}
.logo:hover{
    color:  #C70039 ;
}
.nav a:hover{
    background-color: white;
    background-size: contain;
    border-radius: 25px;
    color:  #C70039 ;
    padding: 8px;
    transform: scale(1.1);
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.main{
    background: linear-gradient(-45deg, #17202a,#2f3e50, #17202a, #17202a);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.project{
    background: linear-gradient(-45deg, #17202a,#2f3e50, #17202a, #17202a);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}
.main h2{
    color: #C70039;
    font-size: 1.8em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block;
    margin-top: 5px;
    color: #CD5C5C;
    font-size: 2em;
    font-weight: 600;
}
.main h3{
    color: rgb(255, 253, 253);
    font-size: 1.6em;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.main-btn{
    background-color: antiquewhite;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    margin-bottom: 18px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: #CD5C5C;
    color: white;
    transform: scale(1.1);
}
.social-media a{
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}
.title{
    display: flex;
    justify-content: center;
    font-size: 1.9em;
    font-weight: 700;
    margin-bottom: 30px;
    color: #C70039;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: beige;
    width: 21.50em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin-left: 50px;
    margin-top: 30px;
    transition: 0.7s ease;
}
.cards .card:hover{
    transform: scale(1.1);
    background: linear-gradient(-45deg, #637181,#2f3e50, #334357, #17202a);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    color: white;
    box-shadow: 0 5px 25px #cd5c5c;
}
.card:hover{
    transform: scale(1.1);
    background-color: #dddda8;
}
.icon{
    color: #cd5c5c;
    font-size: 8em;
    text-align: center;
}
.info h3{
    color: #cd5c5c;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info p{
    text-align: center;
}
.project{
    background-color: #17202a;
}
.project .content{
    margin-top: 30px;

}
.project-card{
    background-color: white;
    border: 1px solid white;
    min-height: 14em;
    width: 20em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-img img{
    width: 100%;
    max-height: 10.2em;
}
.project-card:hover .project-img{
    opacity: 0.9;
}
.project-info{
    padding: 1em;

}
.project-p{
    font-size: 0.8em;
    color: black;   
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    margin-top: 15px;

}
.more-details{
    text-decoration: none;
    color: #CD5C5C;
}
.more-details:hover{
    color: #C70039;
}
.cards-contact .icon{
    font-size: 4em;
    text-align: center;
}
.cards-contact .info h3{
    color: black;
    text-align: center;
    padding: 10px;
}
.cards-contact .info p{
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
} 

.contact-me{
    background: linear-gradient(-45deg, #17202a,#2f3e50, #17202a, #17202a);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    color: white;
}
.content{
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.contact-me .content{
    padding-top: 30px;
}
.form table tr td{
    padding: 15px;
}
input[type=text] , input[type=email]{
    width: 30em;
    height: 5em;
    padding: 0;
    background-color: #F1E2CB;
    color: rgb(7, 7, 7);
    border-radius: 5px;
    border: 0;
    padding-left: 10px;
    transition: 0.7s ease;
}
input[type=text]:hover , input[type=email]:hover{
    background-color: #CD5C5C;
    transform: scale(1.1);
    color: white;
}
textarea{
    background-color: #F1E2CB;
    color: black;
    border-radius: 5px;
    border: 0;
    padding-left: 10px;
    transition: 0.7s ease;
}
textarea ,::placeholder{
    padding-top: 5px;
    font-size: 1em;
    font-weight: 300;
}
textarea:hover{
    background-color: #CD5C5C;
    transform: scale(1.1);
    color: white;
}
button{
    background-color: antiquewhite;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    margin-bottom: 18px;
    transition: 0.7s ease;
    border: 0;
    font-size: 1em;
}
button:hover{
    background-color: #CD5C5C;
    color: white;
    transform: scale(1.2);
}
::placeholder{
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.657);
    font-size: 1em;
    font-weight: 400;
}
:hover::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
  }
  :hover::-moz-placeholder { /* Firefox 19+ */
    color: white;
  }
  :hover:-ms-input-placeholder { /* IE 10+ */
    color: white;
  }
  :hover:-moz-placeholder { /* Firefox 18- */
    color: white;
  }
.footer{
    background: linear-gradient(-45deg, #17202a,#2f3e50, #17202a, #17202a);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    width: 100%;
    height: 5em;
    padding: 1em;
    color: white;
    display: flex;
    justify-content: space-between;
    border-top: 1px rgba(255, 255, 255, 0.548) solid;
}
.footer-title{
    font-size: 1.4em;
    font-weight: 600;
}
.footer-title span{
    color: #C70039;
}
.footer .social-media{
    font-size: 1em;
}
.footer-title span a{
    color: #CD5C5C;
    text-decoration: none;
    padding: 1px;
}

.logo:hover{
    margin: 0;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    text-transform: uppercase;
    text-align: center;
}
@keyframes glow {
    from {
      text-shadow: 0 0 20px #CD5C5C;
    }
    to {
      text-shadow: 0 0 80px #f8f8f8, 0 0 10px #CD5C5C;
    }
  }
.social-media #fb:hover{
    color: #4267B2;
}
.social-media #ig:hover{
    color: rgb(255, 0, 85);
}
.social-media #linkedin:hover{
    color: #0274B3;
}
.social-media #github:hover{
    color: rgb(255, 123, 0);
} 